.start {
  margin: 0rem auto;
  width: 60%;
  padding: 3rem 0rem;
}

.start_box {
  display: flex;
  justify-content: center;
  padding: 6rem;
}

.start_button {
  color: #fff;
  font-family: "Poppins", sans-serif !important;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  background-color: #0067f4;
  padding: 0.7rem 1rem;
  border-radius: 5px;
}

.dilemmas {
  width: 60%;
  margin: 0 auto;
}

.dilemmas_item {
  display: flex;
  margin-bottom: 2rem;
}

.dilemmas_right {
  width: 100%;
  padding-left: 2rem;
}

.dilemmas_title,
.dilemmas_description {
  margin-bottom: 1rem;
}

.dilemmas_title {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.dilemmas_description {
  font-size: 1rem;
  text-align: justify;
}

.dilemmas_ul {
  display: flex;
}

.dilemmas_views {
  padding-right: 1rem;
}
