<app-header-guest *ngIf="!userId"></app-header-guest>
<app-header-user *ngIf="userId"></app-header-user>
<div class="dilemmas">
    <div class="dilemmas_navigation">
        <a *ngIf="id != 1"  [routerLink] = "['/','pregunta',pregunta?.id - 1]">< Prev</a>
        <p *ngIf="id == 1">< Prev</p>
        <a  *ngIf="preguntaNext != null" [routerLink] = "['/','pregunta',pregunta?.id + 1]" class="dilemmas_navigation-next"> Next ></a>
    </div>
    <div class="dilemmas_item">
        <div class="dilemmas_left">
            <img src={{pregunta?.img}} alt="imagen dilema">
        </div>
        <div class="dilemmas_right">
            <h2 class="dilemmas_title">{{pregunta?.nombre}}</h2>
            <p class="dilemmas_description">{{pregunta?.descripcion}}</p>
            <ul class="dilemmas_ul">
                <li class="dilemmas_views">Visitas: {{pregunta?.visitas}}</li>
                <li class="dilemmas_date">{{pregunta?.fecha_creacion | date: 'longDate'}}</li>
            </ul>
            <div *ngIf="!respuesta && userId">
                <button class="dilemmas_a" (click)="respuesta=0;createRespuesta();">{{pregunta?.opcion_1}}</button>
                <button class="dilemmas_b" (click)="respuesta=1;createRespuesta();">{{pregunta?.opcion_2}}</button>
            </div>
            <div *ngIf="respuesta && userId">
                <button class="dilemmas_a" disabled>{{pregunta?.cant_1 / (pregunta?.cant_1 + pregunta?.cant_2) * 100}}% </button>
                <button class="dilemmas_b" disabled>{{pregunta?.cant_2 / (pregunta?.cant_1 + pregunta?.cant_2)* 100}}%</button>
            </div>

            <div *ngIf="!userId">
                <a class="dilemmas_a" href="/login">{{pregunta?.opcion_1}}</a>
                <a class="dilemmas_b" href="/login">{{pregunta?.opcion_2}}</a>
            </div>
        </div>
    </div>
</div>

<div class="comments">
    <h3>{{listComentarios.length}} Comentarios</h3>
    <form *ngIf="userId" class="comments_form" [formGroup]="form"  (submit)="createComentarios()">
      <div class="comments_user-left">
        <img class="comments_user-img" src="https://picsum.photos/100"/>
      </div>
      <div class="comments_user-right">
        <input id="inputPost" type="text" placeholder="Añada un comentario público...." class="comments_textarea" formControlName="text"/>
        <button class="comments_submit">Enviar</button>
      </div>
    </form>

   <form *ngIf="!userId" class="comments_form">
        <div class="comments_user-left">
            <img class="comments_user-img" src="https://picsum.photos/100"/>
        </div>
        <div class="comments_user-right">
            <input id="inputPost" type="text" placeholder="Añada un comentario público...." class="comments_textarea" [routerLink] = "['/','login']" formControlName="text" />
        </div>
   </form>

    <div class="comment" *ngFor="let comentario of listComentarios">
        <div class="comment_left">
            <img src={{comentario?.img}}/>
        </div>
        <div class="comment_right">
            <div class="comment_header">
                <h4>{{comentario?.autor}} </h4>
                <div class="comment_actions" *ngIf="accion == false && comentario.usuarioId == userId">
                    <a class="comment_icon-update" (click) ="accion = true;key = comentario.id"><i class="lni lni-pencil"></i></a>
                    <a (click)="deleteComentario(comentario.id)"><i class="lni lni-trash"></i></a>
                </div>
            </div>
            <div *ngIf="accion == false || comentario.id != key">
                <p>{{comentario?.comentario}}</p>
                <p>{{comentario?.fecha_creacion | date: 'longDate'}}</p>
            </div>
            <div *ngIf="accion == true && comentario.id == key">
                <form [formGroup]="form"  (submit)="updateComentarios(comentario.id)">
                    <input type="text" value={{comentario?.comentario}} class="comments_textarea" formControlName="textUpdate"/>
                    <button class="comments_submit">Modificar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>


<router-outlet></router-outlet>


