<nav class="nav">
    <div class="nav_container">
        <div class="nav_box-logo">
            <a href="/game">
                <img class="nav_logo" src="assets/images/logo.png" alt="Logo">
            </a>
        </div>
        <div class="nav_box-ul">
            <ul class="nav_ul">
                <li><a href="/plans ">Planes</a></li>
                <li><a href="/contribuir">Contribuir</a></li>
                <li><a href="#">Estadísticas</a></li>
                <li class="nav_profile"><a href="/profile"><span><i class="lni lni-user"></i></span></a></li>
                <li class="nav_logout" (click)="logout()"><span><i class="lni lni-exit"></i></span></li>
            </ul>
        </div>
    </div>
</nav>