<app-header-guest *ngIf="!userId"></app-header-guest>
<app-header-user *ngIf="userId"></app-header-user>
<div class="start">
    <div [ngStyle]="{'background':'linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),url(assets/images/game.jpg)'
    }" class="start_box">
        <a class="start_button" [routerLink] = "['/','pregunta',randomId]">Dilema Moral Random</a>
    </div>
</div>

<div class="dilemmas" *ngFor="let pregunta of listPreguntas">
    <div class="dilemmas_item">
        <div class="dilemmas_left">
            <img src="https://picsum.photos/600/300" alt="imagen dilema">
        </div>
        <div class="dilemmas_right">
            <h2 class="dilemmas_title"><a [routerLink] = "['/','pregunta',pregunta?.id]">{{pregunta?.nombre}}</a></h2>
            <p class="dilemmas_description">{{pregunta?.descripcion}}</p>
            <ul class="dilemmas_ul">
                <li class="dilemmas_views">Visitas: {{pregunta?.visitas}}</li>
                <li class="dilemmas_date"> {{pregunta?.fecha_creacion | date: 'longDate'}}</li>
            </ul>
        </div>
    </div>
</div>



<app-footer></app-footer>




